:80 {
	@market host market.inexlab.com
	handle @market {
		reverse_proxy market-data-frontend:3000
	}

	@context host context.inexlab.com
	handle @context {
		reverse_proxy context-app:3000
	}

	@tradeforge host trade.inexlab.com
	handle @tradeforge {
		reverse_proxy tradeforge-backend:8000
	}

	@dsm host dsm.inexlab.com
	handle @dsm {
		reverse_proxy https://host.docker.internal:5001 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	handle {
		respond "Not Found" 404
	}
}
