:80 {
	@market host market.inexlab.com
	handle @market {
		reverse_proxy market-data-frontend:3000
	}

	@context host context.inexlab.com
	handle @context {
		reverse_proxy context-app:3000
	}

	handle {
		respond "Not Found" 404
	}
}
