:80 {
	@market host market.inexlab.com
	handle @market {
		reverse_proxy market-data-frontend:3000
	}

	@context host context.inexlab.com
	handle @context {
		reverse_proxy context-app:3000
	}

	@tradeforge host trade.inexlab.com
	handle @tradeforge {
		reverse_proxy tradeforge-backend:8000
	}

	@n8n host n8n.inexlab.com
	handle @n8n {
		reverse_proxy n8n:5678
	}

	@dsm host dsm.inexlab.com
	handle @dsm {
		reverse_proxy https://host.docker.internal:5001 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@dyllu host dyllu.inexlab.com
	handle @dyllu {
		reverse_proxy dyllu-storefront:3000
	}

	@dyllu-api host medusa.inexlab.com
	handle @dyllu-api {
		reverse_proxy dyllu-backend:9000
	}

	handle {
		respond "Not Found" 404
	}
}
